[user]
  name  = Bree Elle Gardner
  email = letsbreelhere@gmail.com
[branch]
  autosteuprebase = always
[alias]
  yolo    = push --force
  d       = diff
  dc      = diff --cached
  s       = status
  co      = checkout
  b       = branch
  pop     = stash pop
  tree    = log --graph --decorate --pretty=oneline --abbrev-commit
  amend   = commit --amend --no-edit
  wip     = !git add -A && git commit -m "WIP"
  cb      = rev-parse --abbrev-ref HEAD
  comit   = commit
  commmit = commit
  ap      = add -p
  cp      = cherry-pick
  latest  = branch --sort=committerdate
  rc      = rebase --continue
  ;cleanup = !git branch --merged | grep -v "\*" | grep -v master | xargs -n 1 git branch -d
[commit]
  template = ~/.git-commit-template
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[color]
  branch      = true
  diff        = true
  interactive = true
  status      = true
[push]
  default = current
[clean]
  requireForce = false
[rerere]
  enabled = 1
[help]
  autocorrect = 1
[merge]
  tool = vimdiff
