[user]
	name = letsbreelhere
  email = letsbreelhere@gmail.com
[branch]
  autosteuprebase = always
[alias]
  amend   = commit --amend --no-edit
  ap      = add -p
  b       = branch
  cb      = rev-parse --abbrev-ref HEAD
  co      = checkout
  ci      = commit -m
  comit   = commit
  commmit = commit
  cp      = cherry-pick
  d       = diff
  dc      = diff --cached
  kick    = !git commit -m "Kick CI" --allow-empty && g push
  l       = "!f() { num_lines=${1:-10}; git branch --sort=committerdate --format=\"%(committerdate:relative)%09%(refname:short)\" | tail -n $num_lines; }; f"
  pop     = stash pop
  rc      = rebase --continue
  rs      = rebase --skip
  s       = status
  tree    = log --graph --decorate --pretty=oneline --abbrev-commit
  wip     = !git add -A && git commit -m "WIP"
  cleanup-merged = "!f(){ git fetch && git branch --merged | grep -v '* ' | xargs git branch --delete; };f"
[commit]
  template = ~/.git-commit-template
[core]
  editor = nvim
  excludesfile = ~/.gitignore
[color]
  branch      = true
  diff        = true
  interactive = true
  status      = true
[push]
  default = current
[pull]
  rebase = true
[clean]
  requireForce = false
[rerere]
  enabled = 1
[help]
  autocorrect = 1
[merge]
  tool = vimdiff
  conflictstyle = diff3
[color "diff"]
  whitespace = red reverse
[diff]
  wsErrorHighlight=new,old
[show]
  wsErrorHighlight=old,new
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
